.my-bg-color1 {
  background-color: #293646;
}

.my-bg-color2 {
  background-color: #152636;
}

.acc-cust {
  border: none !important;
  background-color: transparent !important;
}

.text-primary-hover {
  color: white;
}

.text-primary-hover:hover {
  color: #007bff;
}