
@{
    ViewBag.Title = "Index";
}

<div class="container mt-5">
    <p class="h1 text-white">Verification of ISO-27001</p>
</div>
<div class="container mt-5">
    <form class="">
        <div class="col-sm-6">
            <label for="firstName" class="form-label text-white">Organisation name</label>
            <div class="d-flex align-items-center">
                <input type="text" name="CompanyName" class="form-control" id="firstName" placeholder="" required>
                <button type="submit" class="btn btn-primary text-white ms-2">Start</button>
            </div>
        </div>
    </form>
</div>

